{% extends "core/base.html" %}

{% block content %}
<script>
let buffer = '';
document.addEventListener('DOMContentLoaded', function () {
   var elements = document.querySelectorAll('.aiMessage');

   elements.forEach(function (element) {
       var markdownText = element.textContent; // Get the Markdown text
       var htmlContent = marked.parse(markdownText); // Convert to HTML
       element.innerHTML = htmlContent; // Replace the content
   });
});
</script>
<script>
const url = '{{ scheme }}://' + window.location.host + window.location.pathname;
const socket = new WebSocket(url);

socket.onmessage = function(e) {
    const message = JSON.parse(e.data);
    const messages = document.getElementById('messages');
    const lastMessage = messages.lastChild;

    if (message.event == 'on_chat_model_stream') {
        buffer += message.data.chunk.content;
        lastMessage.innerHTML = marked.parse(buffer);
    } else {
        console.log(message);
    }
};

function sendMessage() {
    const messages = document.getElementById('messages');
    const input = document.getElementById('messageInput');

    const userMessage = document.createElement("div");
    userMessage.innerHTML = '<b>@me: ' + input.value + '</b>';
    userMessage.className = "aiMessage";
    messages.appendChild(userMessage);

    const aiMessage = document.createElement("div");
    aiMessage.className = "aiMessage";
    aiMessage.innerHTML = '@malcom.tucker: ';
    messages.appendChild(aiMessage);

    socket.send(JSON.stringify({'content': input.value, 'type': 'human'}));
    input.value = '';
    buffer = '';
}
</script>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
          <a href={% url 'chat-new' %}><button type="submit" class="govuk-button" data-module="govuk-button">New Chat</button></a>
          <h3 class="govuk-heading-s">your previous chats</h3>
          <ul class="govuk-list">
            {% for chat in chat_history %}
            <li>
                {% url 'chat-detail' chat.pk as link %}
                <a class="govuk-link" href="{{ link }}">{{ chat }}</a>
            </li>
            {% endfor %}
          </ul>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <div id="messages" class="messageBox">
        {% for message in chat.chatmessage_set.all %}
            {% if message.type == 'ai' %}
               <div class="aiMessage"><pre>@malcom.tucker: {{ message.annotated_content }}</pre></div>
                <hr class="govuk-section-break govuk-section-break--visible">
            {% else %}
               <div class="userMessage"><pre><b>@me: {{ message.content }}</b></pre></div>
            {% endif %}
        {% endfor %}
        </div>
          <div class="govuk-form-group">
            <input class="govuk-input" id="messageInput" name="eventName" type="text" placeholder="Enter message">
            <button onclick="sendMessage()" class="govuk-button">Send</button>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}

