{% extends "core/base.html" %}

{% load static %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://raw.githubusercontent.com/mozilla/pdf.js/master/web/ui_utils.js"></script>
<script src="https://raw.githubusercontent.com/mozilla/pdf.js/master/web/text_layer_builder.js"></script>
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<body>
  <div>
    <canvas id="the-canvas" style="border:1px solid black;"></canvas>
  </div>
<script type="text/javascript" src="{% static "core/document.js" %}"></script>
<script>
const url = decodeHtmlEntities("{{ embedding.document.file.url }}"); // Use the file URL directly
const text = "{{ embedding.text|stringformat:'r' }}";
const page_number = {{ page_number }};

loadPdf(url, text, page_number);
</script>

Document name = {{ embedding.document.created_at }} .

<canvas id="pdf-canvas"></canvas>

<p><b>{{ embedding.text }}</b></p>

{% endblock %}
