{% extends "core/base.html" %}

{% load static %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
<script type="module">
  // If absolute URL from the remote server is provided, configure the CORS
  // header on that server.
  console.log("hello");
  const url = "{{ embedding.document.file.url }}"; // Use the file URL directly
  console.log("url=" + url);



  // Asynchronously download PDF
  const loadingTask = pdfjsLib.getDocument(url);
  loadingTask.promise.then(pdf => {
      console.log('PDF loaded');

      // Fetch the first page
      pdf.getPage({{ page_number }}).then(page => {
          console.log('Page loaded');

          const scale = 0.5;
          const viewport = page.getViewport({
              scale
          });

          // Prepare canvas using PDF page dimensions
          const canvas = document.getElementById('pdf-canvas');
          const context = canvas.getContext('2d');
          canvas.height = viewport.height;
          canvas.width = viewport.width;

          // Render PDF page into canvas context
          const renderContext = {
              canvasContext: context,
              viewport: viewport
          };
          const renderTask = page.render(renderContext);
          renderTask.promise.then(() => {
              console.log('Page rendered');
          });
      });
  }, reason => {
      console.error('Error loading PDF: ' + reason);
  });
</script>


Document name = {{ embedding.document.created_at }} .

<canvas id="pdf-canvas"></canvas>

<p><b>{{ embedding.text }}</b></p>

{% endblock %}
