<html lang="en">


<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
{% load static %}
<script type="module">
  // If absolute URL from the remote server is provided, configure the CORS
  // header on that server.

  const url = "{{ document.file.url }}"; // Use the file URL directly



    // Asynchronously download PDF
    const loadingTask = pdfjsLib.getDocument(url);
    loadingTask.promise.then(pdf => {
        console.log('PDF loaded');

        // Fetch the first page
        const pageNumber = {{ page_number }};
        pdf.getPage(pageNumber).then(page => {
            console.log('Page loaded');

            const scale = 0.5;
            const viewport = page.getViewport({ scale });

            // Prepare canvas using PDF page dimensions
            const canvas = document.getElementById('pdf-canvas');
            const context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            const renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            const renderTask = page.render(renderContext);
            renderTask.promise.then(() => {
                console.log('Page rendered');
            });
        });
    }, reason => {
        console.error('Error loading PDF: ' + reason);
    });
</script>

<body>
Document name = {{ document.created_at }} .

<canvas id="pdf-canvas"></canvas>

{% for element in elements %}
    <p>{{ element.text }}</p>
{% endfor %}
</body>
</html>